__pycache__/
*.py[cod]
*.egg-info/
.coverage
.glr-release/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.venv-glr/
build/
dist/
htmlcov/
target/
sdk/godot/.godot/
**/bin/
**/obj/
.idea/
.vscode/
*.log
